@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-brown: #6d5e3c;
    --color-lightbrown: #edeae7;
    --color-lightgreen: #5c704e;
    --color-green: #000;
    --color-grey: #dbdbda;
    --color-darkgrey: #d9d9d9;
    --font-tenor: var(--font-tenor-sans);
    --font-manege: var(--font-manege-demo);
    --font-cormorant: var(--font-cormorant-infant);
}

body {
    color: var(--foreground);
    font-family: var(--font-avenir), Arial, Helvetica, sans-serif;
}

.font-manege {
    font-family: var(--font-manege-demo);
    font-weight: 400;
}

.font-avenir {
    font-family: var(--font-avenir);
    font-weight: 400;
}

.font-avenir-medium {
    font-family: var(--font-avenir);
    font-weight: 500;
}

section {
    @apply mb-10 lg:mb-[30px] px-0.5 sm:px-2;
}

.first-right-image {
    @apply rounded-t-[50%] sm:rounded-tr-none sm:rounded-br-[129px] sm:rounded-tl-[129px] md:rounded-br-[129px] md:rounded-tl-[129px] lg:rounded-br-[200px] lg:rounded-tl-[200px] xl:rounded-br-[269px] xl:rounded-tl-[269px];
}

.first-left-image {
    @apply rounded-t-[50%] sm:rounded-tl-none sm:rounded-bl-[129px] sm:rounded-tr-[129px] md:rounded-bl-[129px] md:rounded-tr-[129px] lg:rounded-bl-[200px] lg:rounded-tr-[200px] xl:rounded-bl-[269px] xl:rounded-tr-[269px];
}

.right-round {
    @apply md:rounded-br-[169px] md:rounded-tl-[169px] lg:rounded-br-[269px] lg:rounded-tl-[269px];
}

.header-link {
    @apply inline-block py-3 px-2 hover:text-purple-800 border-b-2 border-transparent hover:border-purple-800 text-gray-500 font-semibold;
}

.action-food-btn {
    @apply border p-4 rounded border-purple-500 hover:bg-purple-500 hover:text-white transition-colors w-full md:w-2/3;
}

.add-to-cart-food-btn {
    @apply flex items-center gap-5 justify-center border bg-lightgreen hover:bg-brown px-6 py-3.5 rounded-[40px] border-[rgba(92,112,78,0.25)] text-white transition-colors font-cormorant font-semibold text-2xl w-full cursor-pointer;
}

.count-adjust-button {
    @apply hover:bg-brown rounded-[40px] w-[100px] md:w-[120px] md:px-4 flex items-center text-green hover:text-white transition-[background-color] duration-300 ease-in-out justify-center;
}

.drop-tags {
    @apply flex flex-col px-6 py-[17px] sm:hidden border border-brown rounded-[40px] mx-2 relative text-2xl text-brown font-cormorant font-semibold text-center bg-[rgba(255,255,255,0.45)];
    height: 68px;
    @apply transition-[height] duration-600 ease-in-out overflow-hidden;
}

.drop-tag-open {
    height: 288px;
}

.action-game-btn {
    @apply border p-4 rounded border-red-400 hover:bg-red-400 hover:text-white transition-colors w-full md:w-2/3;
}

.game-btn {
    @apply border p-4 rounded border-red-400 hover:bg-red-400 hover:text-white transition-colors w-full;
}

.food-btn {
    @apply border p-4 rounded border-purple-500 hover:bg-purple-500 hover:text-white transition-colors w-full;
}

.my-form {
    @apply border bg-white shadow-2xl rounded-lg p-7 max-w-xl m-auto;
}

.my-form-header {
    @apply text-5xl font-semibold text-red-400 mb-5 text-center;
}

.my-input-label {
    @apply block text-sm font-medium text-gray-700;
}

.my-form-input {
    @apply border-gray-300 w-full rounded shadow-sm focus:border-purple-500 focus:outline-none focus:ring-1 focus:ring-purple-500;
}

.my-checkbox {
    @apply mr-2 border-gray-300 rounded shadow-sm focus:border-purple-500 focus:outline-none focus:ring-1 focus:ring-purple-500 text-purple-500;
}

.invalid {
    @apply border-red-400 ring-red-400 focus:ring-red-400 focus:border-red-400;
}

.error-message {
    @apply text-sm text-red-500;
}

.carousel-item {
    @apply relative float-left -mr-[100%] w-full transition-transform duration-600 ease-in-out motion-reduce:transition-none;
}

.carousel-item-button {
    @apply mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-10 border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-600 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none;
}

.carousel-arrow {
    @apply absolute top-0 bottom-0 z-1 flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none;
}

.menu-item-title {
    @apply text-3xl font-light font-manege leading-tight;
}

.nutrient-title {
    @apply rounded-l-lg py-2 pl-4 pr-2 inline-block w-1/2 bg-[#3b71ca] text-white text-right;
}

.nutrient-body {
    @apply rounded-r-lg py-2 pl-2 pr-4 inline-block w-1/2 text-white bg-amber-600;
}

.tag {
    @apply border border-transparent rounded-[40px] py-[17px] px-10 cursor-pointer hover:border-brown transition-colors duration-150 ease-in-out font-cormorant font-semibold text-2xl text-brown bg-[rgba(255,255,255,0.45)];
}

.active-tag {
    @apply bg-darkgrey cursor-default border-brown;
}

.category-item-card {
    @apply rounded-[40px] p-[30px] bg-white border border-[rgba(92,112,78,0.25)] hover:shadow-lg h-full flex flex-col cursor-pointer gap-6;
}

.text {
    @apply text-base leading-5 text-green lg:text-lg lg:leading-[22px];
}
.title {
    @apply text-center font-cormorant text-2xl italic leading-7 text-green lg:text-4xl lg:leading-[45px];
}
.subtitle {
    @apply font-tenor text-[22px] leading-[125%] text-green lg:text-2xl lg:leading-[30px];
}
.list__item {
    @apply font-tenor text-sm leading-4 text-green lg:text-base lg:leading-5;
}
.custom__block {
    @apply flex h-[120px] w-[120px] items-center justify-center overflow-hidden rounded-[50%] border border-brown bg-[rgba(217,217,217,0.9)] text-center font-cormorant text-lg leading-[100%] text-brown duration-100 ease-in hover:z-10 hover:bg-[rgba(109,94,60,1)] hover:text-darkgrey lg:h-[170px] lg:w-[170px] lg:text-2xl lg:leading-6;
}
.subtitle2 {
    @apply text-center font-manege text-2xl font-light leading-7 text-green xl:text-4xl lg:leading-[45px];
}
.custom__btn {
    @apply inline-block max-w-[290px] w-full rounded-[40px] bg-[rgba(109,94,60,1)] text-darkgrey disabled:text-brown md:bg-[rgba(217,217,217,0.9)] p-5 text-center font-cormorant text-2xl leading-[100%] md:text-brown duration-100 ease-in hover:bg-[rgba(109,94,60,1)] hover:text-darkgrey disabled:hover:text-gray-200;
}
.btn-prev {
    @apply inline-block max-w-[120px] w-full rounded-l-[40px] bg-[rgba(109,94,60,1)] text-darkgrey md:bg-[rgba(217,217,217,0.9)] p-5 text-center font-cormorant text-2xl leading-[100%] md:text-brown duration-100 ease-in hover:bg-[rgba(109,94,60,1)] hover:text-darkgrey;
}
.btn-next {
    @apply inline-block max-w-[120px] w-full rounded-r-[40px] bg-[rgba(109,94,60,1)] text-darkgrey md:bg-[rgba(217,217,217,0.9)] p-5 text-center font-cormorant text-2xl leading-[100%] md:text-brown duration-100 ease-in hover:bg-[rgba(109,94,60,1)] hover:text-darkgrey;
}
.custom__container {
    @apply xl:mx-auto xl:max-w-7xl;
}
.swiper-wedding .swiper-pagination-bullet {
    @apply h-3.5 w-3.5 bg-darkgrey opacity-100;
}
.swiper-reviews .swiper-pagination-bullet {
    @apply h-3.5 w-3.5 bg-darkgrey opacity-100;
}
.advantage {
    @apply -mt-9 flex h-[277px] w-[225px] flex-col items-center justify-center gap-5 rounded-[169px] border-8 border-lightbrown bg-grey sm:mt-0 xl:m-[initial] md:ml-[-50px] xl:h-[369px] xl:w-[300px];
}
.advantage p {
    @apply max-w-[181px] text-center font-cormorant text-lg leading-5 text-green;
}
.party {
    @apply left-4 rounded-[40px] bg-[rgba(255,255,255,0.5)] px-4 py-3.5 font-cormorant text-base text-brown xl:px-6 xl:py-[17px] xl:text-2xl hover:bg-brown hover:text-lightbrown cursor-pointer;
}
.feast {
    @apply rounded-[40px] bg-[rgba(255,255,255,0.9)] px-4 py-3 font-cormorant text-base text-brown lg:text-2xl;
}
.master-class {
    @apply relative w-full overflow-hidden rounded-[40px];
}

.item-detailed-card {
    @apply font-manege flex flex-col md:flex-row md:bg-[rgba(255,255,255,0.45)] max-w-[1080px] mx-auto px-5 py-10 md:p-10 lg:p-[93px] gap-5 lg:gap-[93px] md:rounded-tl-[100px] md:rounded-br-[100px] lg:rounded-tl-[150px] lg:rounded-br-[150px] md:border md:border-[rgba(92,112,78,0.25)] text-green text-sm md:text-xl items-stretch;
}

.gallery-button {
    @apply rounded-[40px] bg-grey font-cormorant text-2xl text-brown font-semibold px-20 py-[18px];
}

.gallery-button-active {
    @apply border border-brown;
}

.gallery-images {
    @apply flex flex-col items-center lg:flex-row flex-wrap gap-x-6 gap-y-[30px] md:max-w-[750px] lg:max-w-[846px] xl:max-w-[1272px] mx-auto mb-[30px] object-cover;
}

.centered-buttons {
    @apply flex flex-col lg:flex-row lg:justify-center items-center gap-5 text-center text-green lg:mb-[27px] lg:text-lg lg:leading-[22px] mb-8;
}

.cart-nav-buttons {
    @apply flex flex-row lg:justify-center justify-between text-center text-green lg:mb-[27px] lg:text-lg lg:leading-[22px] mb-8 max-w-[256px] mx-auto;
}

.tab-header {
    @apply text-center p-2.5 border border-brown bg-brown w-full text-white rounded-t-[20px] md:rounded-t-[40px] cursor-pointer;
}

.active-tab {
    @apply text-lightgreen bg-[rgba(255,255,255,0.45)] border-b-0;
}

.tab-headers {
    @apply flex w-full;
}

.form-group {
    @apply flex flex-col mb-5;
}

.form-group label {
    @apply text-green mb-2;
}

.form-group input {
    @apply p-2.5 rounded-[10px] outline-none border border-[rgba(109,94,60,0.45)];
}

.mem {
    @apply text-red-600;
}
